/*---------ESTILOS HEADER---------*/

header{
    display: flex;
    background-color: var(--tertiary-color);
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    gap: 1rem;
}

header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 4px solid white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header__title{
    font-family: var(--font-title);
    color: white;
    font-size: 1.8rem;
}

.header__subtitle{
    color: var(--section-soft);
    opacity: 0.85;
    font-size: 1rem;
}

.header__tech{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.header__tech span{
    padding: 0.20rem 0.40rem;
    border-radius: 5px;
    font-size: 0.70rem;
    font-weight: 600;
}

/*COLORES TECNOLOGIAS*/

.tech__html{
    color: white;
    background-color: #e34c26;
}

.tech__css{
    color: white;
    background-color: #7e57c2;
}

.tech__js{
    background-color: #f7df1e;
}

.tech__react{
    color: white;
    background-color: #087A9F;
}

/*FIN COLORES TECNOLOGIAS*/


.contact-links{
    display: flex;
    gap: 1rem;
}

.contact-links a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.contact__btn{
    background-color: var(--primary-color);
    color: white;
    padding: 0.6rem;
    border-radius: 50%;
}

.contact__btn:hover{
    background-color: var(--color-accent);
    transition: background-color 0.2s ease;
}

/*---------ESTILOS ABOUT SECTION---------*/

section{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.section__about,
.section__interests{
    margin-bottom: 1rem;
}

.section__title{
    font-family: var(--font-title);
    margin-bottom: 1rem;
    color: var(--color-links);
    font-size: 1.3rem;
}

.section__text{
    color: var(--text-color);
    margin-bottom: 2rem;
    font-size: 0.90rem;
    line-height: 1.5;
    text-wrap: balance;
}

/*---------ESTILOS FOOTER--------*/

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--tertiary-color);
    padding: 1.5rem;
}

.footer__social{
    display: flex;
    gap: 1.5rem;
}

.footer__social a{
    color: white;
    text-decoration: none;
}

.footer__social a:hover svg{
    color: var(--primary-color);
    transition: color 0.2s ease;
}