/*------FONT-------*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nanum+Pen+Script&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/*----COLORES----*/

:root {
    --bg-color: #f8f9fc;
    --text-color: #111827;
    --intro-color: #717174;

    --primary-color: #9b5de5;
    --secondary-color: #C8A6F3;
    --color-accent: #7749af;

    --card-bg: #ffffff;
    --section-light: #ffffff;
    --section-soft: #f4eefa;

    --font-title: 'Outfit', sans-serif;
    --font-text: 'Inter', sans-serif;
    --logo-text: 'Nanum Pen Script', sans-serif;
}

/*------ESTILOS GENERALES------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-text);
    background-color: var(--section-light);
}

#root{
    width: 380px;
    background: linear-gradient(var(--bg-color),rgba(152, 70, 229, 0.05));
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}